/*
// COLORS
// ======
*/
/*
// IMPORTS
// =======
*/
/*
// RESET
// =====
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
// TYPOGRAPHY
// ==========
*/
body {
  min-height: 100vh;
  min-width: 100vw;
  font-family: sans-serif;
  background-image: url("../images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*
// LAYOUT
// ======
*/
/*
// COMPONENTS
// ==========
*/
